Hierarchical Models and Animation.sln
Hierarchical Models and Animation.VC.db
Hierarchical Models and Animation.VC.VC.opendb
Hierarchical Models and Animation.vcxproj
Hierarchical Models and Animation.vcxproj.filters
packages.config
/packages
/Debug
/.vs